@property --inactive-step{
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

@property --active-step {
  syntax: '<percentage>';
  inherits: false;
  initial-value: -1%;
}

.new-plant-form-separator {
  background: linear-gradient(90deg, var(--color-secondary) var(--active-step), var(--color-primary) var(--inactive-step));
  transition: --inactive-step 0.5s, --active-step 0.5s;
  &.active {
    --active-step: 100%;
    --inactive-step: 101%;
  }
}
