:root {
  --color-primary: #7cb128;
  --color-primary-900: #ddecc3;
  --color-primary-800: #c6e09c;
  --color-primary-700: #afd373;
  --color-primary-600: #9dca52;
  --color-primary-500: #8cc130;
  --color-primary-400: #7cb128;
  --color-primary-300: #679d1e;
  --color-primary-200: #538a14;
  --color-primary-100: #2c6800;
  --color-primary-text: var(--color-text-light);

  --color-secondary: #dec33c;
  --color-secondary-900: #f5f2c2;
  --color-secondary-800: #eee89b;
  --color-secondary-700: #e8e075;
  --color-secondary-600: #e4da5a;
  --color-secondary-500: #e1d442;
  --color-secondary-400: #dec33c;
  --color-secondary-300: #dbad34;
  --color-secondary-200: #d7972b;
  --color-secondary-100: #cf721d;
  --color-secondary-text: var(--color-text-light);

  --color-tertiary: #008981;
  --color-tertiary-900: #b2dfde;
  --color-tertiary-800: #80cbc9;
  --color-tertiary-700: #4db6b2;
  --color-tertiary-600: #26a6a0;
  --color-tertiary-500: #00968f;
  --color-tertiary-400: #008981;
  --color-tertiary-300: #017971;
  --color-tertiary-200: #036961;
  --color-tertiary-100: #044d44;
  --color-tertiary-text: var(--color-text-light);

  --color-background-primary: #fbf7ea;
  --color-background-primary-900: #f6f3e5;
  --color-background-primary-800: #e8e5d9;
  --color-background-primary-700: #d6d3c8;
  --color-background-primary-600: #c1beb4;
  --color-background-primary-500: #aaa79f;
  --color-background-primary-400: #918f87;
  --color-background-primary-300: #7c7a74;
  --color-background-primary-200: #6a6963;
  --color-background-primary-100: #595853;
  --color-background-primary-border: rgba(83, 83, 83, 0.5);
  --color-background-primary-text: var(--color-text-dark);

  --color-background-secondary: #d1c9b6;
  --color-background-secondary-900: #efd6a5;
  --color-background-secondary-800: #e3bc6b;
  --color-background-secondary-700: #d9a22c;
  --color-background-secondary-600: #d28f00;
  --color-background-secondary-500: #cd7d00;
  --color-background-secondary-400: #ca7300;
  --color-background-secondary-300: #c66400;
  --color-background-secondary-200: #c05400;
  --color-background-secondary-100: #b83900;
  --color-background-secondary-text: var(--color-text-dark);
  --color-text-dark: #1e1e1e;
  --color-text-light: #ededed;
  --font-size-header: 2rem;
  --font-size-subheader: 1.8rem;
  --font-size-body: 1.6rem;
  --font-size-body-small: 1.4rem;
  --font-size-body-smallest: 1.2rem;




  --color-success: #28a745;
  --color-success-foreground: #ececec;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
}
