:root {
  --color-primary: #fafaf4;
  --color-primary-900: #fafaf4;
  --color-primary-800: #f0f0ea;
  --color-primary-700: #dadad4;
  --color-primary-600: #bfbeb9;
  --color-primary-500: #93938e;
  --color-primary-400: #7d7d78;
  --color-primary-300: #5d5d58;
  --color-primary-200: #393935;
  --color-primary-100: #22221f;
  --color-primary-text: #222222;

  --color-secondary: #b61212;
  --color-secondary-900: #b61212;
  --color-secondary-800: #c4211f;
  --color-secondary-700: #d12927;
  --color-secondary-600: #e3332c;
  --color-secondary-500: #f23e2d;
  --color-secondary-400: #ee4f49;
  --color-secondary-300: #e5706d;
  --color-secondary-200: #ef9896;
  --color-secondary-100: #ffccd0;
  --color-secondary-text: #ececec;

  --color-tertiary: #004d44;
  --color-tertiary-900: #004d44;
  --color-tertiary-800: #006961;
  --color-tertiary-700: #007970;
  --color-tertiary-600: #008981;
  --color-tertiary-500: #00968e;
  --color-tertiary-400: #22a6a0;
  --color-tertiary-300: #4bb6b2;
  --color-tertiary-200: #80cbc8;
  --color-tertiary-100: #b2dfde;
  --color-tertiary-text: #ececec;

  --font-size-header: 2rem;
  --font-size-subheader: 1.8rem;
  --font-size-body: 1.6rem;
  --font-size-body-small: 1.4rem;
  --font-size-body-smallest: 1.2rem;




  --color-success: #28a745;
  --color-success-foreground: #ececec;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
}
