{
    debug
    acme_ca https://acme-v02.api.letsencrypt.org/directory
}

storieslikegrapes.com {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_KEY}
        resolvers 1.1.1.1
    }
    reverse_proxy /trpc* http://calendar-api:80
    reverse_proxy http://calendar-frontend:80
}

